server {
  # Enter your fully qualified domain name or leave blank
  server_name {{ inventory_hostname }};

  # Sets the Max Upload size to 300 MB
  client_max_body_size 300M;

  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

  # Proxy Requests to Foundry VTT
  {% for foundry in foundries %}
  location /{{ foundry.name }} {
    # Set proxy headers
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    # These are important to support WebSockets
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";

    # Make sure to set your Foundry VTT port number
    proxy_pass http://localhost:{{ foundry.port }};
  }
  {% endfor %}
}

server {
    if ($host = {{ inventory_hostname }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


  server_name {{ inventory_hostname }};
  listen      80;
    return 404; # managed by Certbot
}
