{
  "dataPath": "/home/foundry/{{ item.name }}_foundry/userdata",
  "compressStatic": true,
  "fullscreen": false,
  "hostname": null,
  "language": "en.core",
  "localHostname": null,
  "port": {{ item.port }},
  "protocol": null,
  "proxyPort": null,
  "proxySSL": false,
  "routePrefix": "{{ item.name }}",
  "updateChannel": "stable",
  "upnp": true,
  "upnpLeaseDuration": null,
  "awsConfig": null,
  "compressSocket": true,
  "cssTheme": "foundry",
  "deleteNEDB": false,
  "hotReload": false,
  "passwordSalt": null,
  "sslCert": null,
  "sslKey": null,
  "world": null,
  "serviceConfig": null
}
