[
{% for service in pm2_jlist %}
{% set name = (service.name | split("-") | first | default("")) %}
{% set port = (service.name | split("-") | last | default("")) %}
{ 'name': '{{ name }}', 'port': {{ port | int }} , 'fullname': '{{ service.name }}'},
{% endfor %}]